@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial;
}

#app-container {
  height: 100%;
  width: 100%;
}

/*so hacky, because of the divs react adds*/
#app-container>div {
  height: 100%;
  width: 100%;
}

.mapView {
  height: 100%;
  width: 100%;
}

.list-items {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #000;
  color: #fff;
  padding: 1em;
  height: 115px;
  width: 150px;
}
